body {
    background-color: white;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 2vw 0 2vw;
}

.lowHr {
    width: 35vw;
    align-self: center;
}

.spacingRow {
    margin: 0 5vw 0 5vw;
}

.link {
    position: absolute;
    margin-bottom: 9vh;
    transform: translateX(10%);
}