.justifyStart h4 {
  width: 95%;
  color: var(--background)
}

.justifyStart h3 {
  color: var(--background);
}

.justifyStart {
  display: flex;
  width: 87vw;
  gap: 1vh;
  background-color: #31124D;
  border-radius: 10px;
  height: 15vh;
}

input[type="checkbox"].checkBox {
  border: 1px solid white;
}
