.container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.justifyStart h4 {
  width: 95%;
  color: var(--background)
}

.justifyStart h3 {
  color: var(--background);
}

.justifyStart {
  padding: 1vh;
  display: flex;
  width: 100vw;
  gap: 1vh;
  height: fit-content;
  border-top: 1px solid var(--background);
}

input[type="checkbox"].checkBox {
  border: 1px solid white;
}
