.header {
    display: flex;
    position: inline-block;
    background: linear-gradient(90deg,
        #000 0%,
        #737373 50%,
        #560D0D 90%);
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}

.logoTitle {
    font-family: var(--irish-grover);
    color: var(--background);
}