.boss {
    width: 60vw;
}

.textCenter {
  text-align: center;
}

.bossPage {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  gap: 3vh;
    background: linear-gradient(
    225deg,
    #F3F3F3 0%,
    #111111 100%
  );
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 15vh 0;
}

.justifyStart h4 {
  width: 100%;
  color: #f3f3f3;
}

.justifyStart h2, h3 {
  color: #f3f3f3;
}

.justifyStart {
  width: 87vw;
}

.spacement {
  width: 100%;
  justify-content: space-between;
}
