.boss {
    width: 60vw;
}

.textCenter {
  text-align: center;
}

.bossPage {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  gap: 3vh;
  background: linear-gradient(
    225deg,
    var(--background) 0%,
    #111111 100%
  );
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 15vh 0;
}

.justifyStart h4 {
  width: 95%;
  padding-bottom: 1vh;
  color: var(--background)
}

.justifyStart h3 {
  color: var(--background);
}

.justifyStart {
  display: flex;
  width: 87vw;
  background-color: #31124D;
  border-radius: 10px;
  height: 15vh;
}
