.gap {
    justify-content: space-between;
}

.icon {
    border: 1px solid black;
}

.character {
    width: 30vw;
}

.alignment {
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

.spacement {
    gap: 0.5vh;
}