.character {
    width: 20vw;
}

.characterInfos {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-self: center;
}

.xpBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40vw;
    height: 3.5vh;
    border-radius: 10px;
    background-color: #80A0F8;
    border: 1px solid black;
}

.icon {
    border-left: 1px solid black;
    width: 8vw;
}