.character {
    width: 20vw;
}

.characterInfos {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-self: center;
}

.xpBar {
  display: flex;
  align-items: center;
  position: relative;
  width: 40vw;
  height: 3.5vh;
  border-radius: 10px;

  border: var(--border);

  overflow: hidden;
}

.xpFill {
  height: 100%;
  background: linear-gradient(to right, #80A0F8, var(--background));
  transition: width 0.3s ease;
}

/* .xpBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40vw;
    height: 3.5vh;
    border-radius: 10px;
    background: linear-gradient(
        to right,
        #80A0F8 20%,
        var(--background) 21%
    );

    border: var(--border);
} */

.icon {
    border-left: var(--border);
    width: 8vw;
    position: absolute;
    right: 0;
}

.face {
    width: 15vw;
    height: auto;
}