.boss {
  width: 60vw;
}

.textCenter {
  text-align: center;
}

.bossPage {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  gap: 3vh;
  background: linear-gradient(
    225deg,
    var(--background) 0%,
    #111111 100%
  );
  flex-direction: column;
  align-items: center;
  padding: 5vh 0 15vh 0;
}