.checkBox {
    width: 6vw;
    height: 6vh;
    border-radius: 5px;
}

.justifyStart h4 {
    width: 100%;
}

.justifyStart {
    width: 87vw;
}

.spacement {
    width: 100%;
    justify-content: space-between;
}