.tabBar {
  display: flex;
  position: fixed;
  border-top: 1px solid var(--main-color);
  background-color: var(--background);
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1000;
}

.button {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content {
  transition: opacity 0.25s ease;
  color: var(--foreground);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 5vh;
}

.inactive {
  opacity: 0.5;
}

.active {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  opacity: 1;
  min-height: 10vh;
  width: 25vw;
  min-width: fit-content;
}

.invisible {
  display: none;
}